.stock-header {
  background-color: #0e0f0e;
  color: #ecf0f1;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  padding: 12px;
  display: flex; 
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

nav ul li {
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a:hover {
  color: #c7c7c7;
}

nav ul li a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

